
.container {
    border: 1px solid rgba(16, 24, 40, 0.2);
border-radius: 20px;
padding: 24px;
max-width: 888px;
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
}

.imgwrap {
width: 290px;
height: 310px;
border-radius: 10px;
overflow: hidden;

img {
    width: 100%;
    object-fit: cover;

}
}

.item {
    width: 526px;
}

.text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: var(--gray);
}